<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>PEDIDO</b> <span class="pull-right">#5669626</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">Comercio Llanero</b></h3>
                            <p class="text-muted m-l-5">MANZANA 91 CASA 14 CIUDADELA LA BENDICION,
                                <br> Yopal
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                            <h3>Cliente o Razón Social,</h3>
                            <h4 class="font-bold">Gaala &amp; Sons,</h4>
                            <p class="text-muted m-l-30">E 104, Dharti-2,
                            <p class="m-t-30">
                                <b>Fecha :</b> <i class="fa fa-calendar"></i> 05/10/2023
                            </p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Producto</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">Precio</th>
                                    <th class="text-right">Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Smarwatch</td>
                                    <td class="text-right">2 </td>
                                    <td class="text-right"> $100.000 </td>
                                    <td class="text-right"> $200.000 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub-Total: $200.000</p>
                        <hr>
                        <h3><b>Total :</b> $200.000</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>